@model WXPageDomain.Models.ReplayContents
@*<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">*@
<div class="row-fluid">
    <div class="span4">
        <div>
            <a class="btn red" id="delete" href="javascript:;"><i class="icon-trash icon-white"></i> 删除</a>
            <a class="btn blue thickbox" title='添加新角色' href="@Url.Action("Create")?TB_iframe=true&height=350&width=500"><i class="icon-plus icon-white"></i> 新增</a>
        </div>
    </div>
    <div class="span8">
        @using (Html.BeginForm(null, null, null, FormMethod.Get, new { id = "search" }))
        {
            <div class="dataTables_filter">
                <label>
                    <button type="submit" class="btn">搜索 <i class="icon-search"></i></button>
                </label>
                <label>
                    <span>角色名：</span>
                    @Html.TextBox("RoleName", null, new { @class = "m-wrap small" })
                </label>
            </div>
        }
    </div>
</div>
<div >
    <ul class="nav nav-tabs">
        <li class="@(Model.ReplyType=="文字"?"active":string.Empty)"><a href="#home" data-toggle="tab">文字</a></li>
        <li class="@(Model.ReplyType=="图片"?"active":string.Empty)"><a href="#profile" data-toggle="tab">图片</a></li>
    </ul>
    <div>
        @using (Html.BeginForm("FirstResponse", "Message", FormMethod.Post, new { enctype = "multipart/form-data", id = "mainForm" }))
        {
            <div class="">
                <div class="col-md-4">
                    <br>
                    <div id="myTabContent" class="tab-content">
                        <div class="@(Model.ReplyType == "文字" ? "tab-pane active in" : "tab-pane fade")" id="home">
                            <form id="tab">
                                <div class="form-group">
                                    <label>请输入文本</label>
                                    @Html.TextAreaFor(model => model.ReplayContent, new { @class = "form-control" })
                                </div>
                            </form>
                        </div>
                        <div class="@(Model.ReplyType == "图片" ? "tab-pane active in" : "tab-pane fade")" id="profile">
                            <input id="file-0a" name="upImg" class="file" type="file" multiple data-min-file-count="0">
                        </div>
                    </div>

                    <div class="btn-toolbar list-toolbar">
                        <button class="btn btn-primary btn-default"><i class="fa fa-save"></i> 保存</button>
                        <a href="#myModal" data-toggle="modal" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
