@model IEnumerable<WXPageModel.WXAccountInfo>
@using PagedList
@using PagedList.Mvc
@{
    var data = Model as IPagedList<WXPageModel.WXAccountInfo>;
}
<div class="result-wrap">
    <div class="result-title">
        <div class="result-list">
            <a href="~/WXAccount/Create"><i class="icon-font"></i>添加账号</a>
            @*<i class="icon-font"/>
                @Html.ActionLink("添加账号", "Create", "WXAccount", new { @class = "icon-font" })*@
        </div>
    </div>
    <div class="result-content">
        <table class="result-tab" id="tableBody" width="100%">
            <tr>
                <th class="tc" width="5%">

                </th>
                <th>公众账号</th>
                <th>微信号</th>
                <th>类型</th>
                <th>插入时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="tc"><input name="id[]" value="" type="checkbox"></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WXAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WXType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsertTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { onclick = "return confirm('确认删除" + item.AccountName + "的记录')" })|
                        @Html.ActionLink("权限", "FirstResponse", "Message", new { id = item.Id }, "")

                    </td>
                </tr>
            }
        </table>
        
        @Html.PagedListPager(list: data, generatePageUrl: page => Url.Action("Index", new { p = page }))
    </div>

</div>

