@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Domain.SYS_CODE
<style type="text/css">
    .gray-bg {
        background-color: white;
    }
</style>
@using (Ajax.BeginForm("Save", null, new AjaxOptions()
                           {
                               HttpMethod = "Post",
                               OnBegin = "SubAjax.Loading",
                               OnComplete = "SubAjax.Complate",
                               OnFailure = "SubAjax.Failure",
                               OnSuccess = "SubAjax.Success"
                           },
                               new { @class = "form-horizontal dig-from", @role = "form" }))
{
    @Html.HiddenFor(p => p.ID)
    @Html.HiddenFor(p => p.CREATEDATE)
    @Html.HiddenFor(p => p.CREATEUSER)
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="ibox-detail-title">
                <i class="fa fa-pencil-square-o"></i>添加/修改编码
            </div>
            <div class="ibox-content">
                <div class="form-group">
                    <label class="col-xs-2 control-label">编码类型：</label>
                    <div class="col-xs-10">
                        <select name="CODETYPE" id="CODETYPE" class="form-control input-sm  input-s inline">
                            @{ var codeType = ViewData["codeType"] as Dictionary<string, string>;
                                foreach (var item in codeType)
                                {
                                    <option value="@item.Value" @(Model.CODETYPE == item.Value ? "selected=\"selected\"" : "")>@item.Key</option>
                                }
                            }
                        </select>

                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">编码名称：</label>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(p => p.NAMETEXT, new { @class = "form-control", @placeholder = "请输入编码名称", @datatype = "*", @nullmsg = "请输入编码名称！", @errormsg = "请输入编码名称！" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">是否编码：</label>
                            <div class="col-xs-8">
                                <label class="jswitch_line">
                                    @Html.CheckBox("1", new { @class = "js-switch" })
                                </label> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">编码值：</label>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(p => p.CODEVALUE, new { @class = "form-control", @placeholder = "请输入编码值", @datatype = "*", @nullmsg = "请输入编码值！", @errormsg = "请输入编码值！" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-4 control-label">显示顺序：</label>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(p => p.SHOWORDER, new { @class = "form-control", @placeholder = "请输入编码显示顺序", @datatype = "n", @nullmsg = "请输入显示顺序！", @errormsg = "显示顺序必须是数字！" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">上级编码：</label>
                    <div class="col-xs-10">
                        <select name="PARENTID" id="PARENTID" class="form-control"></select>
                        @Html.Hidden("oldparent", Model.PARENTID)
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">备注：</label>
                    <div class="col-xs-10">
                        @Html.TextAreaFor(p => p.REMARK, new { @class = "form-control", @row = "4", @placeholder = "备注" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="text-center">
                    <button class="btn btn-primary btn-save" type="submit"><i class="fa fa-check"></i> <span>确定保存</span></button>
                    <button class="btn btn-warning" id="btn-dig-close" type="button"><i class="fa fa-reply-all"></i> 取消返回</button>
                </div>
            </div>
        </div>
    </div>
                                }
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.form-horizontal').initValidform();
            //上级编码控制
            if ($('#ISCODE').prop('checked') == false) {
                $('#PARENTID').attr('disabled', false);
                Show();
            } else {
                $('#PARENTID').attr('disabled', 'disabled');
            }
            $('#ISCODE').click(function () {
                if ($(this).prop('checked')) {
                    $('#PARENTID').attr('disabled', 'disabled');
                } else {
                    $('#PARENTID').attr('disabled', false);
                    Show();
                }
            });
            //类别切换
            $('#CODETYPE').change(function () {
                if (!$(ISCODE).prop('checked')) {
                    showparent($(this).val());
                }
            });
        });
        function showparent(n) {
            $('#PARENTID').html('<option value="">一级编码</option>');
            var option = '<option value="">一级编码</option>';
            if (n != '') {
                $.post('/Code/GetParentCode', { type: n }, function (res) {
                    if (res.Status == 'y') {
                        for (var i = 0; i < res.Data.length; i++) {
                            var jsonH = res.Data[i];
                            option += '<option value="' + jsonH.ID + '">' + jsonH.NAMETEXT + '</option>';
                        }
                        $('#PARENTID').html(option);
                        //选中
                        if ($('#oldparent').val() != '') {
                            $('#PARENTID').find('option[value="' + $('#oldparent').val() + '"]').attr('selected', 'selected');
                        }
                    }
                }, 'json');
            }
        }
        function Show() {
            //调取上级
            showparent($('#CODETYPE').val());
        }
    </script>
}
